
## Install nginx
packages:
  yum:
    nginx: []
    curl: []
    gcc: []

## Stop apache, add nginx / php-fpm boot up and environment config
commands:

  # Stop apache completely
  011_httpd_conf:
    test: /sbin/service httpd status | grep running
    command: /sbin/service httpd stop

  # Reboot nginx when instance is restarting
  020_nginx_boot:
    command: chkconfig nginx on

## Script that will be executed AFTER the application is installed and BEFORE the deployment of instance
container_commands:

  # Our custom nginx conf
  010_nginx_conf:
    command: cp -f .ebextensions/setup/conf/nginx/nginx.conf /etc/nginx/nginx.conf

  # Restart nginx
  011_nginx_restart:
    command: /sbin/service nginx restart || true

  # App is now built by Gitlab runner, so we don't need the following lines until we need to run a node server from AWS

  # Install node js
  #020_node_install:
  #  command: "sh .ebextensions/setup/npm/install.sh"

  # Install dependencies
  #030_install_dependencies:
  #  command: "export HOME=/home/ec2-user && npm install npm-install-peers --silent --save"

  # Install app
 # 040_install_app:
  #  command: "npm config set scripts-prepend-node-path true && REACT_APP_STAGE=staging CI=true npm run build"
