.import-media-modal {

  .modal-header {
    h4 {
      width: 100%;
      text-align: center;
    }
  }

  .modal-content {
    overflow-y: auto;
    max-height: 900px;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 100;

    .loader-container {

      position: absolute;

      p {
        text-align: center;
      }
    }

    .loader-progress-bar {
      max-width: 300px;
      position: absolute;
    }
  }

  button.close {
    padding: 0;
    padding-right: 10px;
  }

  ul.nav-tabs {

    margin-top: 10px;
    margin-bottom: 10px;

    & > li {

      &.active > a {
        color: #446CB3;
        background-color: transparent;
        border-color: #446CB3;
        border-bottom-color: white;
      }

      & > a:hover {
        text-decoration: none;
      }
    }

  }


  .dropzone > div {

    position: relative;
    width: 100%;
    min-height: 200px;
    border: dashed 2px rgb(102, 102, 102);
    border-radius: 5px;

    & .infoText {
      position: absolute;
      padding: 10px;
      width: 100%;
      text-align: center;
    }
  }

  .media-preview-wrapper {

    min-height: 350px;
    position: relative;

    .media-preview-container {
      position: absolute;
      padding: 10px;
      text-align: center;

      & > img, & > span, & > video {
        display: inline-block;
      }

      img, video {
        max-height: 250px;
      }
    }
  }

  .api-library {

    .api-library-media {

      button.select-video {
        width: 100%;
        border-top: none !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      cursor: pointer;
      line-height: 0;

      -webkit-transition: all 100ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 100ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 100ms ease-in;
      -moz-transform: scale(1);
      transition: all 100ms ease-in;
      transform: scale(1);

      &:hover {
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);

        -webkit-transition: all 100ms ease-in;
        -webkit-transform: scale(1.05);
        -ms-transition: all 100ms ease-in;
        -ms-transform: scale(1.05);
        -moz-transition: all 100ms ease-in;
        -moz-transform: scale(1.05);
        transition: all 100ms ease-in;
        transform: scale(1.05);}

    }
  }

  .resizer-actions {
    width: 100%;
    margin-left: -30px;
  }
}