.media-panel {
  height: 667px;
  width: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: purple;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.media-panel .media-panel-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.media-panel .media-panel-layer-media {
  z-index: 0;
}
.media-panel .media-panel-layer-overlay {
  z-index: 1;
}
.media-panel .media-panel-layer-stickers {
  z-index: 1;
}
.media-panel .media-panel-layer-stickers .story-sticker {
  cursor: move;
  position: absolute;
  content: '';
  transform: translate(-50%, -50%);
}
.media-panel .media-panel-layer-stickers .story-sticker * {
  pointer-events: none;
}
.media-panel .media-panel-layer-stickers .story-sticker:hover:not(.selected) {
  border: dashed 2px red;
}
.media-panel .media-panel-layer-stickers .story-sticker.selected {
  border: 2px dashed #000;
}
.media-panel .media-panel-layer-stickers .story-sticker.selected .rotatable-handle {
  position: absolute;
  top: -25px;
  left: calc(50% -  4px);
  height: 25px;
  width: 8px;
}
.media-panel .media-panel-layer-stickers .story-sticker.selected .rotatable-handle .rotatable-handle-bar {
  position: absolute;
  left: calc(50% - 1px);
  border: solid 1px #000;
  height: 100%;
}
.media-panel .media-panel-layer-stickers .story-sticker.selected .rotatable-handle .rotatable-handle-circle {
  cursor: url("../images/rotate-icon.png") 12 12, row-resize;
  pointer-events: auto;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  border: 1px solid #fff;
}
.media-panel .media-panel-layer-stickers .story-sticker.selected .resizable-handle {
  width: 8px;
  height: 8px;
  background-color: #000;
  border: 1px solid #fff;
  position: absolute;
  pointer-events: auto;
}
.media-panel .media-panel-layer-stickers .story-sticker.selected .resizable-nw {
  left: -4px;
  top: -4px;
  cursor: nwse-resize;
}
.media-panel .media-panel-layer-stickers .story-sticker.selected .resizable-ne {
  top: -4px;
  right: -4px;
  cursor: nesw-resize;
}
.media-panel .media-panel-layer-stickers .story-sticker.selected .resizable-sw {
  bottom: -4px;
  left: -4px;
  cursor: nesw-resize;
}
.media-panel .media-panel-layer-stickers .story-sticker.selected .resizable-se {
  bottom: -4px;
  right: -4px;
  cursor: nwse-resize;
}
.media-panel .media-panel-layer-stickers .story-sticker.selected .resizable-n {
  top: -4px;
  left: calc(50% -  4px);
  cursor: ns-resize;
}
.media-panel .media-panel-layer-stickers .story-sticker.selected .resizable-s {
  bottom: -4px;
  left: calc(50% -  4px);
  cursor: ns-resize;
}
.media-panel .media-panel-layer-stickers .story-sticker.selected .resizable-w {
  left: -4px;
  top: calc(50% -  4px);
  cursor: ew-resize;
}
.media-panel .media-panel-layer-stickers .story-sticker.selected .resizable-e {
  right: -4px;
  top: calc(50% -  4px);
  cursor: ew-resize;
}
/*# sourceMappingURL=mediaPanel.css.map */