.import-media-modal {

  button.close {
    padding: 0;
    padding-right: 10px;
  }

  ul.nav-tabs {

    margin-top: 10px;
    margin-bottom: 10px;

    & > li {

      &.active > a {
        color: #446CB3;
        background-color: transparent;
        border-color: #446CB3;
        border-bottom-color: white;
      }

      & > a:hover {
        text-decoration: none;
      }
    }

  }

  .dropzone > div {

    position: relative;
    width: 100%;
    min-height: 200px;
    border: dashed 2px rgb(102, 102, 102);
    border-radius: 5px;

    & .infoText {
      position: absolute;
      padding: 10px;
      width: 100%;
      text-align: center;
    }
  }

  .media-preview-wrapper {

    min-height: 350px;
    position: relative;

    .media-preview-container {
      position: absolute;
      padding: 10px;
      text-align: center;

      & > img, & > span, & > video {
        display: inline-block;
      }

      & .infoProgress {
        margin-top: 10px;
      }

      img, video {
        max-height: 250px;
      }
    }
  }

  .api-library {

    .api-library-media {

      cursor: pointer;

      &:hover {
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
      }
    }
  }
}